@page
@model LandingPageModel
@{
    ViewData["Title"] = "iTalent - CMS - Landing Page";
}
@* <h3> 23 April 2021 (published:2)</h3>

    <p hidden>Version 1.0.26 </p> *@

<landing-page></landing-page>